[user]
	email = 91700+travisbeck@users.noreply.github.com
	name = Travis Beck
	editor = vim
[alias]
	cleanup = !bash -c \"comm -12 <(git branch | sed 's/[ *]*//g') <(git remote prune origin | sed 's/^.*origin\\\\///g') | xargs git branch -D\"
[merge]
	tool = vimdiff
[push]
	default = current
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
[pull]
	rebase = true
[rerere]
	enabled = true
[init]
	templatedir = ~/.git_template
